asg3_1/src/main/webapp/wsdl/CenterServerImplService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://server.dsd.concordia.ca/" name="CenterServerImplService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://server.dsd.concordia.ca/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://server.dsd.concordia.ca/" schemaLocation="CenterServerImplService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="createTRecord">
    <part name="parameters" element="tns:createTRecord"/>
  </message>
  <message name="createTRecordResponse">
    <part name="parameters" element="tns:createTRecordResponse"/>
  </message>
  <message name="getRecordCounts">
    <part name="parameters" element="tns:getRecordCounts"/>
  </message>
  <message name="getRecordCountsResponse">
    <part name="parameters" element="tns:getRecordCountsResponse"/>
  </message>
  <message name="editRecord">
    <part name="parameters" element="tns:editRecord"/>
  </message>
  <message name="editRecordResponse">
    <part name="parameters" element="tns:editRecordResponse"/>
  </message>
  <message name="createSRecord">
    <part name="parameters" element="tns:createSRecord"/>
  </message>
  <message name="createSRecordResponse">
    <part name="parameters" element="tns:createSRecordResponse"/>
  </message>
  <message name="transferRecord">
    <part name="parameters" element="tns:transferRecord"/>
  </message>
  <message name="transferRecordResponse">
    <part name="parameters" element="tns:transferRecordResponse"/>
  </message>
  <portType name="CenterServerImpl">
    <operation name="createTRecord">
      <input wsam:Action="http://server.dsd.concordia.ca/CenterServerImpl/createTRecordRequest" message="tns:createTRecord"/>
      <output wsam:Action="http://server.dsd.concordia.ca/CenterServerImpl/createTRecordResponse" message="tns:createTRecordResponse"/>
    </operation>
    <operation name="getRecordCounts">
      <input wsam:Action="http://server.dsd.concordia.ca/CenterServerImpl/getRecordCountsRequest" message="tns:getRecordCounts"/>
      <output wsam:Action="http://server.dsd.concordia.ca/CenterServerImpl/getRecordCountsResponse" message="tns:getRecordCountsResponse"/>
    </operation>
    <operation name="editRecord">
      <input wsam:Action="http://server.dsd.concordia.ca/CenterServerImpl/editRecordRequest" message="tns:editRecord"/>
      <output wsam:Action="http://server.dsd.concordia.ca/CenterServerImpl/editRecordResponse" message="tns:editRecordResponse"/>
    </operation>
    <operation name="createSRecord">
      <input wsam:Action="http://server.dsd.concordia.ca/CenterServerImpl/createSRecordRequest" message="tns:createSRecord"/>
      <output wsam:Action="http://server.dsd.concordia.ca/CenterServerImpl/createSRecordResponse" message="tns:createSRecordResponse"/>
    </operation>
    <operation name="transferRecord">
      <input wsam:Action="http://server.dsd.concordia.ca/CenterServerImpl/transferRecordRequest" message="tns:transferRecord"/>
      <output wsam:Action="http://server.dsd.concordia.ca/CenterServerImpl/transferRecordResponse" message="tns:transferRecordResponse"/>
    </operation>
  </portType>
  <binding name="CenterServerImplPortBinding" type="tns:CenterServerImpl">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="createTRecord">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getRecordCounts">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="editRecord">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="createSRecord">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="transferRecord">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="CenterServerImplService">
    <port name="CenterServerImplPort" binding="tns:CenterServerImplPortBinding">
      <soap:address location="http://localhost:8888/ddo"/>
    </port>
  </service>
</definitions>

